.footer {
  align-items      : center;
  background-color : gray;
  cursor           : context-menu;
  font-family      : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size        : 2rem;
  padding          : 3rem 1rem;
  &__container {
    display         : flex;
    flex-wrap       : wrap;
    gap             : 1rem 4rem;
    justify-content : center;
    text-align      : center;
    li {
      align-items     : center;
      display         : flex;
      gap             : 0.5rem;
      justify-content : center;
      width           : max-content;
      &:nth-child(2) {
        i {
          color: forestgreen;
        }
      }
      &:last-child {
        i {
          color: blue;
        }
      }
    }
  }
}
.flag-peru {
  background-color : red;
  display          : flex;
  height           : 75%;
  justify-content  : center;
  width            : 2.4rem;
  &::after {
    content: "";
    background-color : white;
    display          : block;
    width            : 0.8rem;
  }
}